.header-wraper{
    background-color: aquamarine;
    padding: 25px;
    position: relative;
}
.header-block{
    display: flex;
    justify-content: space-between;
}
.nav-ul{
    display: flex;
}
.logo{
    font-size: 30px;
}
.burger{
    position: absolute;
    top: 15px;
    right: 25px;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    display: none;
    transition: all, 0.7s;
}
.line{
    width: 80%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  .line1{
    top: 30%;
  }
  .line3{
    top: 70%
  }
.activeBurger .line1{
    top: 50%;
    transform: translate(-50%) rotate(45deg) ;
}
.activeBurger .line2{
   display: none;
}
.activeBurger .line3{
    top: 50%;
    transform: translate(-50%) rotate(-45deg) ;
}
  
  




@media (max-width:480px){
    .navigation{
        display: none;
    }
    .burger{
        display: block;
    }
    .header-block{
        flex-direction: column;
    }
    .nav-ul{
        flex-direction: column;
        align-items: center;
    }
    .navigation.navActive{
        display: block;
    }
}